<%- include ('../../partials/header.ejs') %>

<body>
    <%- include ('../../partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h2>categorias</h2>
        <hr>
        <a href="/admin/categories/new" class="btn btn-success">criar nova categoria</a>
        <hr>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categoriesFront.forEach(categoriesFront => { %>
                <tr>
                    <th><%= categoriesFront.id %> </th>
                    <th><%= categoriesFront.title %></th>
                    <th><%= categoriesFront.slug %></th>
                    <th>
                        <a href="/admin/categories/edit/<%= categoriesFront.id %>" class="btn btn-warning">editar</a>
                        <form method="post" action="/categories/delete" style="display: inline;" onsubmit="coonfirmarDelecao(event, this)"> 
                            <input type="hidden" name="id" value="<%= categoriesFront.id %>">
                            <button class="btn btn-danger">deletar</button>
                        </form>
                    </th>
                </tr>

                <% }) %>
            </tbody>

        </table>
    </div>


</body>

<%- include ('../../partials/footer.ejs') %>
<script>
    function coonfirmarDelecao(event,form){
        event.preventDefault();
        var decision = confirm ("Você quer deletar essa categoria?");
        if (decision){
            form.submit();
        }

    }
</script>